{% extends 'base.html' %}

{% block content %}
<h2>Create an Account</h2>

<form method="post">
    {% csrf_token %}

    <!-- SHOW ERRORS -->
    {% if form.errors %}
    <div style="color:red;">
        {{ form.errors }}
    </div>
    {% endif %}

    <label>Username:</label><br>
    {{ form.username }}<br><br>

    <label>Password:</label><br>
    {{ form.password1 }}<br><br>

    <label>Confirm Password:</label><br>
    {{ form.password2 }}<br><br>

    <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}